@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image: url('https://formtheoryrehab.com/assets/images/bg3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#root {
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* 0.5 = 50% dimming */
  z-index: -1;
}

.acpBlue {
  background: #2772eb;
}


* {
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  
}

.animatedButton{
  animation-duration: 10000ms;
}

.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}

.titleAcp{
  color: #2772eb;
  font-weight: 600;

}


